<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
	<dependency>
		<groupId>org.apache.logging.log4j</groupId>
		<artifactId>log4j-core</artifactId>
		<version>2.15.0</version>
	</dependency>
	<Properties>
		<property name="pattern_file">
			%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{10} - %msg%n
		</property>
		<property name="pattern_console">
			%relative %-5level %logger{10} - %msg%n
		</property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern_console}"/>
		</Console>
		<File name = "File" fileName = "logs/log.txt" bufferedIO="true">
			<PatternLayout pattern="${pattern_file}"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="File"/>
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>